body {
	background: url("../images/background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.7;
	color:black;
}

.overall-container {
	/*box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);*/
	height: 400%;
	/*width: 100%;*/
	background-color: white;
	opacity: .0.8;
	
}
h1 {
	display: block;
	text-align: center
}

p {
	display: block;
	text-align: center;
	margin-top: 3rem;
	font-size: 20px;
}
input {
	margin-left: 14rem;
	margin-top: 10px;
}

button {
	margin-left: 3.5rem;
}

#question {
	margin-top: 3rem;
}